body {
    font-family: 'PT Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    color: #333;
}

a:hover,
a:focus{
    text-decoration: none;
}

.page-header h1 {
    cursor: pointer;
    width: auto;
}

.right {
    float: right;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.7s;
}

.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}

.beta img {
    width: 100px;
    position: fixed;
    right: 0;
}

.container {
    width: 80%;
}