<uib-progressbar value="progressBar" min="0" max="100" type="success" ng-show="isProgressBarShow" class="progress-striped active animate-show-hide">
    <b>{{progressBar}}%</b>
</uib-progressbar>

<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th>пользователь</th>
        <th>продуктовых багов</th>
        <th>обычных багов</th>
        <th>в среднем на продуктовый баг</th>
        <th>в среднем на обычный баг</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>
            <img src="{{user.avatarUri}}" class="img-circle" width="48" alt="avatar"/>
            {{user.fullname}}
        </td>
        <td>{{user.countProductBugs}} шт за {{(user.timeOnProductBugs / 60).toFixed(1)}} ч</td>
        <td>{{user.countSimpleBugs}} шт за {{(user.timeOnSimpleBugs / 60).toFixed(1)}} ч</td>
        <td>{{user.hourPerProductBug}} ч</td>
        <td>{{user.hourPerSimpleBug}} ч</td>
    </tr>
    </tbody>
</table>