<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Leader Board</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

</head>
<body ng-app="LeaderBoard">


<div class="container">
    <div class="page-header">
        <h1><a href="/">Статистика по ЦК Homer</a></h1>
        <p class="lead">
            <!-- <span class="right" ng-show="!isAuthorized"><a href="#!/login">войти</a></span> -->
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ng-view></ng-view>
        </div>
    </div>
</div>


<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/angular/angular.min.js}"></script>
<script th:src="@{/bower_components/angular-route/angular-route.min.js}"></script>
<script th:src="@{/bower_components/angular-animate/angular-animate.min.js}"></script>
<script th:src="@{/bower_components/angular-smart-table/dist/smart-table.min.js}"></script>
<script th:src="@{/assets/lib/ui-bootstrap-tpls-2.5.0.min.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/js/controller/HomeController.js}"></script>
</body>
</html>